MYSQL_DATABASE=loan_dss
MYSQL_USER=loan_user
MYSQL_PASSWORD=loan_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_PORT=3306

SPRING_PROFILES_ACTIVE=dev
BACKEND_PORT=8080
FRONTEND_PORT=5173
APP_JWT_SECRET=bG9hbi1kc3MtZGV2LXNlY3JldC1rZXktdGhpcnR5LXR3by1ieXRlcw==
APP_BOOTSTRAP_ADMIN_ENABLED=true
APP_BOOTSTRAP_ADMIN_EMAIL=admin@gmail.com
APP_BOOTSTRAP_ADMIN_PASSWORD=123456

